.numberInput input {
	::-webkit-outer-spin-button, ::-webkit-inner-spin-button {
		-webkit-appearance : none;
		margin             : 0;
	}
	
	text-align      : right;
	-moz-appearance : textfield;
}

@function get-color($background-color) {
	@if lightness($background-color) > 50% {
		@return black;
	} @else {
		@return white;
	}
}

$colors : (
	// common
	'gray' : #cccccc,
	'blue' : #9fe8ff,
	'purple' : #c4adff,
	'yellow' : #eeee99,
	'orange' : #ffd192,
	'red' : #ff8d8d,
	'green' : #98fb98,
	'aqua' : #76ffdd,
	// faction
	'eagle' : #9fe8ff,
	'royal' : #000080,
	'sakura' : #f4c0ff,
	'iron' : #ffb4b4,
	'dragon' : #c4adff,
	'northern' : #f7f7f7,
	'iris' : #ffd192,
	'vichya' : #ff8d8d,
	'sardegna' : #98fb98,
	'neptunia' : #c4adff,
	'kizuna' : #fba5bb,
	'hololive' : #8ee7f1,
	'venus' : #f5497f,
	'idolmaster' : #f8bde9,
	'ssss' : #6b6c65,
	'meta' : #808080,
);

@each $color, $value in $colors {
	.color-#{$color} {
		background-color : $value;
		color            : get-color($value);
	}
}

.color-rainbow {
	background : linear-gradient(to bottom right, #aaffaa 15%, #aaaaff, #ffaaaa 85%);
	color      : black
}
